.header {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 50px;
}

.project {
  background-color: white;
  cursor: pointer;
}

/* Chat */

.ms-Stack.css-245 {
  position: fixed;
  bottom: 10px;
  width: calc(100% - 40px);
}

.ms-FocusZone.ui-chat {
  height: calc(100vh - 180px);
}
