.header {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.callheader {
  padding: 0px;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call_header_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0175be;
}

.call_header_content .primary-button {
  margin: 0px;
  padding: 0px;
  min-width: 40px;
  width: 40px;
}

.call_header_content .ms-Persona-details .ms-Persona-primaryText {
  font-size: 16px;
  color: white !important;
}

.call_header_content .ms-Persona-details .ms-Persona-secondaryText {
  font-size: 14px;
  color: white !important;
}

.call_header_content .ms-Persona-details {
  padding-left: 0px;
}

.call_header_content .ms-Persona-image {
  width: 70% !important;
  height: 70% !important;
  border-radius: 50%;
  margin-top: 7px;
}

.call-card {
  height: calc(100vh - 60px);
  background-image: linear-gradient(#0a0c10, #2d3a4a, 90%, #0a0c10);
}

.call-icons {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  height: 60px;
}

.logo {
  max-width: 50px;
}

.project {
  background-color: white;
  cursor: pointer;
}

.small-preview {
  position: absolute;
  bottom: 40px;
  top: 600px;
  width: 100px;
  height: 100px;
  right: 10px;
  z-index: 4;
}

.video-grid-row .video-title {
  background-color: rgb(240, 240, 240, 0.5);
  font-weight: bold;
}

.local-preview-block {
  display: flex;
  height: calc(100vh - 170px);
  flex-direction: column;
  align-items: center;
}

.user-image-default {
  max-height: 180px;
  width: 50%;
}

/* Chat */

.card.chat-card {
  margin-top: 60px;
  height: calc(100vh - 60px);
  padding: 0px;
}

.ms-Stack.css-245 {
  position: fixed;
  bottom: 10px;
  width: calc(100% - 40px);
}

.ms-FocusZone.ui-chat {
  height: calc(100vh - 180px);
}

.css-241 {
  padding-left: 5px;
  padding-right: 5px;
}

/* global */

.flex-center {
  display: flex;
  justify-content: center;
}
